
html {
    position: relative;
    min-height: 100%;
    background-color:#3ea5d6;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 80px; /* Margin bottom com a altura do rodapé */
    font-size: 16px;
    line-height: 1.8;
    background-color:transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Belgrano', serif;
    font-weight: normal!important;
}
h1 {
    font-size: 3em;
    color: #dc7846;
    margin-top: 60px;
    margin-bottom: 40px;
}
body > .container {
    padding-top: 60px !important;
}
p{
    padding-top:4px;
}
.btn{
    transition: background-color .2s ease;
}
.btn-clean{
    background-color:transparent;
    color:#aaa;
}
.btn-clean:hover{
    background-color:#ebebeb;
}
.btn-clean:active{
    background-color:#dedede;
}
input:focus,button:focus,a:focus{
 outline: 1px dashed rgba(0,0,0,0.1);
}
button:active, .btn:focus, .btn:active:focus, .btn.active:focus{
    outline: none;
}
.navbar-default {
    background-color: #003249;
    background-color:rgba(77, 200, 236, 0.65);
    border-bottom: 1px solid #4dddec;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #f1f1f1;
}

.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 1em;
    transition: all 0.3s ease;
    color:#fff;
}
.navbar-default .navbar-nav > li > a{
    color:#fff;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: rgb(26, 60, 85);
    color:#fff;
    padding-top:30px;
    margin-bottom:-5px;
    border-radius:0 0 10px 10px;
}
.logo-ipan-menu{
    width:180px;
    height:auto;
    background-color: #fff;
    padding:5px 15px;
    border-radius: 0 0 10px 10px;
    margin-bottom:-10px;
}
.navbar-brand.logo-ipan-menu:hover{
    background-color: #fff;
}
.logo-ipan-menu img{
    width:100%;
}
.navbar-nav > li > a.bt-idioma{
    margin:5px 0 0;
    padding:5px 10px 0;
    float:right;
    border-left:1px solid rgba(255,255,255,.5);
}
.navbar-nav > li > a.bt-idioma:hover{
    padding:5px 10px 0;
    background-color:transparent;
    border-radius:0;
    color:#fff;
}
/*.bt-idioma svg{
    display: block;
}*/
.bt-idioma p{
    font-size: .8em;
    margin:0;
    padding:0;
}
#banner-principal{
    width:100%;
    background-image: url(../img/bg-agro.jpg);
    background-size: cover;
    background-position: 0 20px;
    height:400px;
    overflow: hidden;
    background-attachment: fixed;
}
#banner-principal .bloco-texto{
    position:absolute;
    background-color:rgba(255,255,255,0.7);
    padding:20px 4%;
    margin:-254px 10% 0 50%;
    font-family: 'Belgrano', serif;
    color:#1c285b;
    font-size: 1.5em;
    line-height: normal;
}
#satelite img{
    position: relative;
,}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #003d56;
    padding-top: 10px;
}

.assinatura-elephamt {
    width: 100px;
    float: right;
    border: none;
    margin: 0 10px 10px;
}

body > .container {
    padding: 50px 15px 20px;
}
.container-faixa{
    width:100%;
    height:auto;
    min-height: 250px;
    padding:20px 0;
}
.phone-mao{
    width:40%;
    min-width: 200px;
    position:relative;
    bottom:-20px;
    margin-top:-200px;
}


.phone-mao img{
    width:100%;
    position:relative;
}
.selo-app{display:inline-block;text-align: center;}
.selo-app img{
    height:40px;
    display: block;
    margin:0 auto;
}
.bg-nuvens{
    background-color:#1a8cc9;
    background-image: url(../img/bg-nuvens.jpg);
    background-size: cover;
    color:#fff;
    background-attachment: fixed;
}
.bg-branco{
    background-color: #fff;
}
.bg-cinza{
    background-color: #f1f2f3;
}
a.link-discreto{
    color:#999;
    font-size: 0.9em;
}
.topicos-aplicacoes{
    list-style: none;
    padding:0;
    text-align: center;
}
.topicos-aplicacoes li{
    display:block;
    display:inline-block;
    width:45%;
    margin:1%;
    vertical-align: top;
    padding: 2% 4%
}
.topicos-aplicacoes .icone-topicos{
    display: block;
    width: 70px;
    margin: -70px 0px 10px;
    padding: 10px;
    border-radius: 0 10px 0 0;
    background-color: #FFF;
    position: absolute;
} 
.icone-topicos img{
    width:100%;
    background-color:#ffffff;
}
.bg-topicos{
    width:100%;
    border-radius: 10px;
}
.carousel-bio .item img{
    float:left;
    width:32.2%;
    margin:0.5%;
}

.carousel-inner > .item {
    -webkit-transition: 1.2s ease-in-out left;
    -moz-transition: 1.2s ease-in-out left;
    -o-transition: 1.2s ease-in-out left;
    transition: 1.2s ease-in-out left;    
}

.container-carousel{
    background-color:#032d3e;
}
.titulo-bio{
    position:absolute;
    z-index: 100;
    text-shadow:0 2px 4px rgba(0,0,0,0.8);
    display:block;
    margin:8% 0;
    width:100%;
}
.titulo-bio h2{
    color:#fff;
    display:block;
    margin:10px auto;
    font-size: 3.5em;
    text-align: center;
    background-color:rgba(0,0,0,0.6);
}

/*Estilos do IPAN Agora*/
.conteudo-agora{
    width:100%;
    padding-top:100px;
    background-color:#4089AE;
    background-image: url(../img/bg-nuvens.jpg);
    background-size: cover;
}
.bloco-agora-destaque{
    width:90%;
    margin:0 auto;
    color:#fff;
}
.bloco-agora-destaque .temperatura{
    font-size: 5em;
    font-weight: 300;
    text-align: right;
    padding-right:5%;
    border-right: 2px solid rgba(255,255,255,0.5);
}
ul.local-tempo{
    list-style: none;
}
ul.lista-dados-agora, ul.lista-historico{
    width:98%;
    list-style: none;
    padding:1% 1%;
    margin:0 auto;
    float:none;
    text-align: center;
}
ul.lista-dados-agora>li, ul.lista-historico>li{
    background-color: #fff;
    box-shadow: 0 3px 1px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding:2% 0;
    border-radius: 4px;
    width:100%;
    margin-left:auto;
    margin-right:auto;    
}
.menu-periodo-historico{
    text-align: left;
    margin-top:10px;
}
.titulo-dados{
    background-color:#E8F5F9;
    border-radius:0 4px 4px 0;
    padding: 5px 1%;
    text-align: center;
    color:#1691a9;
}
.titulo-dados img{
    width:40px;
}
.valores{
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}
.valores .valor{
    font-size: 1.5em;
    line-height: 1.1em;
}
.valores .rotulo-valor{
    color:#5ab1c2;
    font-size: 0.8em;
    line-height: 1em;
}
.separador-direita{
    border-right:2px solid #f1f2f3;
}
.icone-mais{
    width:35px;
    padding:5px;
    cursor:pointer;
    transition:all 0.3s ease;
    border-radius:20px;
    background-color:rgba(0,0,0,0);
    position:absolute;
    right:10%;
}
.icone-mais:hover{
    box-shadow:0 1px 1px rgba(0,0,0,0.5);
    background-color:#fff;
    border-radius:6px;
}
.icone-info{
    display:block;
    float:right;
    width:30px;
    margin-right:2%;
    cursor:pointer;
    padding:5px;
    position:relative;
    z-index: 10;
    margin-bottom:-50px;
}
.modal{
    color:#000;
}
.link-fonte{
    color:#888;
    font-size: 0.7em;
    display:block;
    text-align: right;
}
.modal-content{
    background-color:rgba(255,255,255,0.9);
    border-radius:4px;
}
.modal-body{
    background-color:#fff;
    text-align: left;
}
.modal-footer{
    padding-top:10px;
    margin-top:0;
}
.icone-explicacao{
    float:left;
    width:60px;
    margin:10px;
}
.dropdown.menu-ipan a.menu-cidade{
    display:block;
    width:80%;
    margin:0 auto;
    padding:10px 5%;
    border-radius: 10px;
    border:1px solid #5ab1c2;
    color:#5ab1c2;
    text-align: center;
    font-size: 1.1em;
    transition: all 0.2s ease;
}
.dropdown.menu-ipan a.menu-cidade:hover{
    color:#fff;
    text-decoration: none;
    background-color:#5ab1c2;
}
.dropdown.menu-ipan a.menu-cidade:active{
    text-decoration: none;
}
.dropdown.menu-ipan .dropdown-menu{
    width:80%;
    margin:0 auto;
    left:10%;
    border-radius:10px;
    padding:2%;
    text-align:center;
    border:1px solid #5ab1c2;
    transition:all 0.3s ease;
}
.dropdown.menu-ipan .dropdown-menu li a{
    padding:10px;
    border-radius:10px;
}
.dropdown-menu .ativo a{
    background-color:#E8F5F9;
    color:#1691a9;
}
/*Contato*/
.bg-contato{
    background-color:#dcdfe3;
    display:block;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    z-index:-1;
}
.bloco-contato{
    width:90%;
    margin:80px auto 40px;
    background-color:#fff;
    background-color:rgba(255,255,255,0.95);
    padding:2% 5% 5%;
    border-radius:4px;
    box-shadow: 0 3px 1px rgba(0,0,0,0.1);
    max-width:800px;
    overflow:hidden;
}
.bloco-contato h1{
    margin-top:10px;
}
.texto-rotulo{
    color:#999;
}
.formulario-contato{
    border-left: 1px solid #ddd;
    padding-left: 5%;
}
.info-contato{
    padding-right: 5%;
}
.info-contato ul{
    list-style-type: none;
}
/*rodapé*/
#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
	margin-top: 12px;
}



.invalid {
    border: 1px solid rgba(255, 0, 0, 0.6);
}

.invalid:focus {
    border: 1px solid rgba(255, 0, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 0, 0, .6)
}

/*Fomulários*/
.form-control{
    border: 1px solid #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color:rgba(255,255,255,0.8);
}
.form-control:focus{
    border: 1px solid #5ab1c2;
    box-shadow: none;
    background-color:#fff;
}
label{
    font-weight: 300;
    color:#444;
    font-size:0.9em;
}
.btn-primary{
    background-color: #5ab1c2;
    border-color: #5ab1c2;
}
.btn-primary:hover{
    background-color: #4ebdd3;
    border-color: #5ab1c2;
}
.btn-primary:active{
    background-color: #4296a7;
    border-color: #fff;
}
/* Histórico */
.grafico-historico{
    width:96%;
    height:auto;
    margin:20px 2% 0;
    float:left;
}
.grafico-historico canvas{
}

/*Ajustes responsivos*/
@media (max-width: 1199px) {
    .phone-mao img{
        bottom:-12px;
    }
}

@media (max-width: 992px) {
    .phone-mao img{
        bottom:0;
    }
    .phone-mao{
        position:relative;
        bottom:-184px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 13px;
    }

    .navbar-nav {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .navbar-default .navbar-collapse {
        background-color: #fff;
        background-color: rgba(255,255,255, 0.95);
        width:90%;
        margin:20px auto;
        position:absolute;
        border:0;
        border-radius: 10px;
        box-shadow:0 0 200px rgba(0,0,0,1);
        height:auto;
        padding:10px 0;
    }

    .navbar-default .navbar-nav > li > a {
        color: #000;
        border-bottom: 0;
        padding: 20px 10px;
        text-align: center;
        font-weight: normal;
        font-size: 1.2em;
        margin:5px auto;
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
        border-radius: 0;
        padding: 20px 10px;
        margin:5px auto;
    }

    .phone-mao{
        width:80%;
        margin:0 auto;
        bottom:-20px;
    }
    .formulario-contato{
        border-left: 0;
        padding-left: 15px;
        padding-top:20px;
        margin-top:20px;
        border-top:1px solid #ddd;
    }
    .bloco-contato{
        padding-right: 15px;
        padding-top:20px;
        margin-top:80px;
        margin-bottom:20px;
    }
    .bloco-contato h1{
        margin-top:20px;
    }
    #banner-principal{
        background-attachment:scroll;
    }
    .topicos-aplicacoes>li{
        width:100%;
    }
}

@media (max-width: 480px) {
    #banner-principal .bloco-texto{
        width:80%;
        padding:5%;
        margin: -250px auto 0;
        position:absolute;
    }   
}
@media (min-width: 767px) {
    ul.lista-historico {
    width:98%;
    }
    ul.lista-historico>li{
        width:48%;
        margin:1% .5%;
        display:inline-block;
        vertical-align: top;
    }
    .navbar-nav > li.ativo > a{
        color:#005e8a;
        font-weight: 500;
    }
}


/* APP
------------------------------------*/
body.body-app{
    margin-bottom:0;
}
.navbar-app{
    text-align: center;
    border:0;
    margin:0;
    z-index:1000;
}
.navbar-app .navbar-header{
    background-color:#fff;
    width:100%;
    position:fixed;
    z-index: 1000;
    float:none;
    margin:0;
    height:42px;
    box-shadow:0 3px 0 rgba(0,0,0,.1);
}
.ios .navbar-app .navbar-header{
    height:60px;
}
.navbar-app .navbar-toggle .icon-bar{
    background-color:#618e96;
}
.navbar-app .navbar-collapse{
    position:relative;
    width:100%;
    padding:42px 0 0 0;
    margin:0;
    border-top:2px solid #363e43;
    background-color:#444e55;
    box-shadow:none;
}
.ios .navbar-app .navbar-collapse{
    padding:60px 0 0 0;
}
.navbar-app .container{
    padding:0;
    width:100%;
}
.navbar-app .logo-ipan-menu{
    display:inline-block;
    float:none;
    width:100px;
}
.ios .navbar-app .logo-ipan-menu{
    margin-top:18px;
}
.logo-ipan-menu{
    width:150px;
    padding:5px;
}
.navbar-app .navbar-nav{
    display:flex;
    width:100%;
    text-align: center;
}
.navbar-app .navbar-nav li{
    display:inline-block;
    width:24%;
    margin:auto;
    float:none;
}
.navbar-app .navbar-nav li a{
    border-radius:4px;
    margin:2px 2px 4px;
    padding:10px 5px;
}
.navbar-app .navbar-nav li a:hover{
    background-color: rgba(0,0,0,.2);
    color:#4dc8ec
}
.navbar-app .navbar-nav li.ativo a{
    color:#4dc8ec
}
.navbar-app .navbar-nav li img{
    width:30px;
    display:block;
    margin:0 auto;
}
.conteudo-app{
    padding-top:20px;
    background-image: url(../img/bg-nuvens.jpg);
    padding-top:10px;
    background-size: cover;
    background-attachment: fixed;
    padding-top:10px;
}
.local-tempo li{
    font-size:.9em;
}
.local-tempo li:first-child{
    font-size:1.5em;
}
.btn-opcoes{
    position:absolute;
    right:5px;
}
.caixa-branca{
    border-radius:4px;
    background-color:#fff;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    padding:1% 2%;
    margin:2% auto;
    width:96%;
}
/*Notícias
-------------------------------*/
.caixa-noticias{
    max-width:600px;
    margin:0 auto;
    background-color:#fff;
    border-radius:4px;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
}
.caixa-noticias iframe{
    margin:10px auto;
    display:block;
}
.noticias{
    
}
.noticias .autor{
    padding-bottom:15px;
    border-bottom: 1px solid #eee;
}
.noticias .autor img{
    background-color:#fff;
    border-radius:4px;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    padding:4px;
}
.noticias .autor span{
    margin:5px 5px 0 5px;
}
.data-noticia{
    color:#999;
    font-size:.8em;
    border-top: 1px solid #eee;
}
.list-inline {
    padding-right: 10px;
}

.list-inline .imagem {
    max-width: 290px;
    max-height: 290px;
    padding: 0;
    margin:1%;
    border-radius: 4px;
    background: #ffffff;
    overflow: hidden;
    box-shadow:0 0px 0px rgba(0,0,0,0);
    transition:all .2s ease;
}
.list-inline .imagem:hover{
    box-shadow:0 2px 15px rgba(0,0,0,0.4);
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
}

/*Icone Menu
-------------------------------*/

.icone-menu{
    display:block;
    
}
.icone-menu>.icone{
    display:inline-block;
    position:relative;
    width:32px;
    height:32px;
    border-radius:50%;
    border:1px solid #fff;
    transition: all .2s ease;
}
.icone-menu .icon-bar{
    position:absolute;
    display: block;
    height:1px;
    width:20px;
    background-color: #fff;
    transition: all .2s ease;
}
.icone-agora .icon-bar.ponteiro1{
    width:14px;
    margin-top:12px;
    margin-left:4px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icone-agora .icon-bar.ponteiro2{
    width:8px;
    margin-top:14px;
    margin-left:14px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.icone-historico.icone{
    border-bottom: 1px dotted transparent;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icone-historico .setinha{
    position:absolute;
    display:block;
    width:6px;
    height:6px;
    border:1px solid transparent;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
    margin-top:22px;
    margin-left:0;
}
.icone-historico .icon-bar.ponteiro1{
    width:14px;
    margin-top:12px;
    margin-left:4px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icone-historico .icon-bar.ponteiro2{
    width:8px;
    margin-top:14px;
    margin-left:14px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.icone-noticias .icon-bar{
    width:18px;
}
.icone-noticias .icon-bar.linha1{
    margin-top:8px;
    margin-left:6px;
}
.icone-noticias .icon-bar.linha2{
    margin-top:12px;
    margin-left:6px;
}
.icone-noticias .icon-bar.linha3{
    margin-top:16px;
    margin-left:6px;
}
.icone-noticias .icon-bar.linha4{
    width:12px;
    margin-top:20px;
    margin-left:6px;
}
.icone-sobre .icon-bar.pingoi{
    margin-top:6px;
    margin-left:14px;
    width:2px;
    height:3px;
}
.icone-sobre .icon-bar.tracoi{
    margin-top:12px;
    margin-left:14px;
    width:2px;
    height:10px;
}

.navbar-app .navbar-nav li a:hover .icone-menu>.icone, .navbar-app .navbar-nav li.ativo .icone-menu>.icone{
    border-color:#4dc8ec;
}
.navbar-app .navbar-nav li a:hover .icon-bar, .navbar-app .navbar-nav li.ativo .icon-bar{
    background-color:#4dc8ec;
}
.navbar-app .navbar-nav li a:hover .icone-menu>.icone-historico,.navbar-app .navbar-nav li.ativo .icone-menu>.icone-historico{
    border-bottom:1px solid transparent;
}
.navbar-app .navbar-nav li a:hover .setinha, .navbar-app .navbar-nav li.ativo .setinha{
    border-right:1px solid #4dc8ec;
    border-bottom:1px solid #4dc8ec;
}

.navbar-app .navbar-nav li a:hover .icone-agora, .navbar-app .navbar-nav li a:hover .icone-historico{
    -ms-transform: rotate(-700deg);
    -webkit-transform: rotate(-700deg);
    transform: rotate(-720deg);
    -webkit-transition: all 1s cubic-bezier(.5,0,.5,1.3);
            transition: all 1s cubic-bezier(.5,0,.5,1.3);
}
.navbar-app .navbar-nav li a:hover .icone-noticias .icon-bar.linha1{
    width:16px;
    -webkit-transition: all .5s cubic-bezier(.1,0,.1,1.4);
            transition: all .5s cubic-bezier(.1,0,.1,1.4);
}
.navbar-app .navbar-nav li a:hover .icone-noticias .icon-bar.linha2{
    width:14px;
    -webkit-transition: all .2s cubic-bezier(.9,0,.9,1.9);
            transition: all .2s cubic-bezier(.9,0,.9,1.9);
}
.navbar-app .navbar-nav li a:hover .icone-noticias .icon-bar.linha3{
    width:12px;
    -webkit-transition: all .4s cubic-bezier(.9,0,.9,1.9);
            transition: all .4s cubic-bezier(.9,0,.9,1.9);
}
.navbar-app .navbar-nav li a:hover .icone-noticias .icon-bar.linha4{
    width:15px;
    -webkit-transition: all .6s cubic-bezier(.9,0,.9,1.9);
            transition: all .6s cubic-bezier(.9,0,.9,1.9);
}
.navbar-app .navbar-nav li a:hover .icone-sobre .icon-bar.pingoi{
    margin-top:4px;
    -webkit-transition: all .5s cubic-bezier(.5,0,.5,1.3);
            transition: all .5s cubic-bezier(.5,0,.5,1.3);
}
.navbar-app .navbar-nav li a:hover .icone-sobre .icon-bar.tracoi{
    height:12px;
    margin-top:10px;
    -webkit-transition: all .3s cubic-bezier(.5,0,.5,1.3);
            transition: all .3s cubic-bezier(.5,0,.5,1.3);
}
.vendassistema p {
    background: #0095da;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 5px;
}
/*-------------------------TEMPLATE FOTOS---------------------------*/
.template-fotos {
	padding: 20px 0;	
}
.fotos-airports {
	padding: 0;

}
.fotos-airports li {
    display: block;
    display: inline-block;
    width: 45%;
    margin: 1%;
    vertical-align: top;
    padding: 0;
}
/*-----------------------LIGHTBOX CSS--------------------------------*/

/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin: 100px auto;
	border-radius: 20px;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
/*------------------ TEMPLATE VIDEOS ------------------------*/
.template-videos {
	padding: 20px 0;	
}
.videos-agrop {
	padding: 0;

}
.videos-agrop li {
    display: block;
    display: inline-block;
    vertical-align: top;
    padding: 3px;
}
.vendassistema2 p {
    background: #0095da;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 5px;
    width: 430px;
}